
.text-platzi{
  color: pink !important;
}
.text-platzi2{
  color: pink !important;
}
.text-platzi3{
  color: pink !important;
}

.btn-platzi{
  background-color: #97c93e;
  color: white;
}
.btn-platzi:hover{
  background-color: #82ad36;
}
#carousel{
  position: relative;
}

#place-time{
  background-color: #343a40;
  color: white;
}

#place-time img{
  max-width: 100%;
}

#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 2;
}
#carousel .overlay .container,
#carousel .overlay .row{
  height: 100%;
}
/*esta es la forma para asignar tamaño a la imagen;
#header img{
  width: 130;
  height: 70;
}*/

#main .carousel-inner img{
  max-height: 60vh;
  object-fit: cover;
  filter: grayscale(60%);
}

#footer{
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}
#footer a{
  color: white;
}
